/*
 * GitPitch Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

#gp-logo img {
  max-height: 1.5em;
  max-width: none;
}

.gold {
  color: #e49436;
}

.reveal pre {
  width: 100%;
  box-shadow : none;
}

.present p img {
  border: 0;
  box-shadow: 0 0 0 0;
}

.reveal pre code {
  font-family: "DejaVu Sans Mono for Powerline";
  font-size: 14pt;
  line-height: 1.2;
  max-height: 65vh !important;
  max-width: 125vh !important;
  border-radius: 10px;
  overflow: hidden;
}
